.u-inlineBlock {
  display: inline-block;
}

.is-hidden {
  display: none;
}

.u-noLineBreak {
  white-space: nowrap;
}

.is-levitating{
  animation: levitate 2s infinite linear;
}

@keyframes levitate{
  0% {
      transform: rotate(0deg)
      translate(-3px)
      rotate(0deg);
  }
  100% {
    transform: rotate(360deg)
    translate(-3px)
    rotate(-360deg);
  }

}
